.view-hidden {
    opacity: 0;
}
.view-visible {
    opacity: 1;
}

a {
    color: #fafafa;
}
a:hover {
    color: #fafafa;
}

html {
    position: relative;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto Condensed', serif;
    background: #0a0a0a;
}

.page {
    /*box-shadow: 0 0 10px #000;*/
    color: #fafafa;
    background: #0a0a0a;
    position: relative;
    width: 100%;
    padding: 0;
    padding-bottom: 20px;
    top: 300px;
    z-index: 5;
}
.page_background {
    filter: brightness(1);
    height: 400px;
    width: 100%;
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
}

.vacancy {
    position: absolute;
    padding: 10px 5px;
    width: 300px;
    top: 30px;
    left: 30px;
    color: #fafafa;
    font-family: 'Marck Script';
    font-weight: bold;
}

header {
    border-bottom: 1px dashed #fafafa;
    padding-bottom: 20px;
}
header .title {
    font-family: 'Poiret One';
    z-index: 10;
    width: 600px;
    height: 60px;
    background: #b01d1d;
    color: #0a0a0a;
    position: absolute;
    left: 50%;
    margin-left: -300px;
    top: -30px;
    text-align: center;
}
header .title h1 {
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
}
header .content {
    padding-top: 40px;
}
header .content .info {
    font-size: 20px;
}
header .content .language img {
    position: relative;
    width: 30px;
    height: auto;
    margin: 10px;
    float: right;
    transition: top 0.3s ease;
    top: 0;
}
header .content .language img:hover {
    top: -5px;
}
header .content .language img.active {
    opacity: 0.5;
}

.whore {
    text-align: center;
}

.whore div {
    padding: 5px;
}

.whore .img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.whore .top_layer .img {
    height: 600px;
}
.whore .bottom_layer .img {
    height: 300px;
}

#bottom_tel {
    font-size: 22px;
}


/* --- FRAMEWORK --- */
.larger_text {
    margin: 30px 0;
    font-size: 20px;
}
.other_font {
    font-family: 'Roboto Condensed';
}

@media (max-width: 600px) {
    header .title {
        width: 300px;
        margin-left: -150px;
    }
    header .title h1 {
        font-size: 24px;
    }
}
@media (max-width: 400px) {
    .vacancy {
        font-size: 12px;
        width: 200px;
        left: 5px;
        top: 5px;
    }
}
@media (max-width: 400px) {
    .vacancy {
        font-size: 12px;
        width: 200px;
        left: 5px;
        top: 5px;
    }
}
